@use 'fonts';

$primary-color: #F24F13;
$secondary-color: #f2f2f2;
$accent-color: #F2C1AE;
$body-text-color: #f2f2f2;
$heading-font-family: 'leaguespartan', helvetica, arial;
$body-font-family: helvetica,arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;