html, body {
    overflow-x: hidden;
    width: 100%;
}

/* Hero Section */

#hero {
    position: relative;
    background-color: #F2C1AE;
    overflow: hidden;
    padding-top: 260px;
    padding-bottom: 200px;
    height: 100vh;
}

#hero-squiggle {
    position: absolute;
    top: 1000px;
    right: 600px;
    height: 700px;
    width: auto;
    transform: rotate(90deg) scaleY(-1);
    transform-origin: top right;
    opacity: 0.8;
    z-index: 1;
    pointer-events: none;
}

#hero-logo {
    grid-column: 1 / span 6;
    width: 950px;
    max-width: 100%;
    z-index: 5;
    margin-left: 90px;
    margin-bottom: none;
}

#text-hero {
    grid-column: 1 / span 6;
    margin-left: 380px;
    margin-top: 20px;
    z-index: 5;
}

#text-hero p {
    font-size: 40px;
    font-weight: 700;
    color: #F26430;
    white-space: nowrap;
}

#explore-hero {
    position: relative;
    width: fit-content;
    margin-left: 500px;
    margin-top: 280px;
    z-index: 5;
    text-align: center;
    white-space: nowrap;
}

#explore-hero p {
    font-size: 30px;
    color: #F26430;
    margin-bottom: 10px;
}

#hero-arrow {
    width: 40px;
    transform: rotate(90deg);
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: transform 0.25s ease;
}

#hero-arrow:hover {
    transform: rotate(90deg) scale(1.15);
}

.explore-inner {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

/* Projects Section */

.projects {
    max-width: 1200px;
    margin: 120px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    row-gap: 60px; 
}

.project-card {
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px #3b3b3b;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.project-info {
    flex-grow: 1;
}

.project-card:hover {
    transform: translateY(-6px);
}

.project-image {
    position: relative;
}

.project-image img {
    width: 100%;
    display: block;
    border-bottom: 0;
}

.project-numbers {
    position: absolute;
    bottom: -30px;
    right: 25px;
    font-size: 140px;
    font-weight: 600;
    font-family: "rafaella"; 
    font-size: 200px; 
    font-weight: 500; 
    color: #F26430;
    line-height: 1;
    pointer-events: none;
    z-index: 2;
}

.project-numbers.num-3 {
    bottom: 20px;
}

.project-info {
    background: #F26430;
    padding: 30px;
    color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: relative;
}

.project-info h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.project-info p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    margin-right: 40px;
    color: #fff;
}

.project-link {
    position: absolute;
    right: 25px;
    bottom: 25px;
    cursor: pointer;
}

.project-link img {
    width: 28px;
    transition: transform 0.2s ease;
}

.project-card:hover .project-link img {
    transform: translateX(6px);
}

@media (max-width: 768px) {

    /* Hero Section */

    #hero {
        padding-top: 150px;
        height: 100vh;
        overflow: hidden;
    }

    #hero-logo {
        width: 80%;
        max-width: 550px;
        margin: 120px auto 0 auto; 
        display: block;
    }

    #text-hero {
        margin: 0 auto 0 220px;
        text-align: center;
    }

    #text-hero p {
        font-size: 20px;
    }

    #hero-squiggle {
        position: absolute;
        margin-top: 20px;
        margin-right: 80px;
        width: 700px;
        max-width: none;
        overflow: hidden;
        height: auto;
        transform: rotate(180deg);
        opacity: 0.7;
        z-index: 1;
    }

    #explore-hero {
        margin: 350px auto 0 220px;
        text-align: center;
        width: fit-content;
        position: relative;
    }

    #explore-hero p {
        font-size: 24px;
    }

    #hero-arrow {
        width: 32px;
        margin: 8px auto 0 auto;
    }

    #hero-arrow {
        content: url("../images/orange_arrow.svg");
        transform: rotate(0deg);
    }

    #hero-arrow:hover {
    transform: rotate(0) scale(1.15);
    }

    /* Projects Section */

    .projects {
        grid-template-columns: 1fr;
        row-gap: 60px;
        column-gap: 0;
        max-width: 90%;
        margin: 80px auto;
    }

    .project-card {
        border-radius: 16px;
        overflow: hidden;
    }

    .project-image img {
        width: 100%;
        height: auto;
    }

    .project-info {
        padding: 24px;
    }

    .project-link img {
        width: 26px;
    }

    .project-numbers {
        font-size: 150px;
        bottom: -30px;
    }

    .project-numbers.num-3 {
        bottom: 10px;
    }
}