#project-content,
#project-gallery,
#process-section,
#impact-section {
    padding: 80px 0;
}

#process-section,
#impact-section {
    padding-top: 20px;
}

#project-content,
#process-section,
#impact-section {
    text-align: left;
}

#project-content {
    max-width: 900px;
    margin: 0 auto;
}

#project-hero {
    padding: 60px 0 40px;
}

.project-hero-image {
    max-width: 1100px;
    margin: 0 auto;
}

.project-hero-image img {
    width: 100%;
    height: auto;
    display: block;
}

.project-title h1 {
    font-size: 50px;
    color: #F05A28;
    margin-bottom: 40px;
    text-align: center;
}

#project-content h2,
#process-section h2,
#impact-section h2 {
    font-size: 40px;
    color: #F05A28;
    margin-bottom: 20px;
    text-align: left;
}

.project-meta h3 {
    font-size: 28px;
    color: #F05A28;
    margin-bottom: 8px;
    text-align: left;
}

#project-content p,
#process-section p,
#impact-section p {
    font-size: 24px;
    color: #3b3b3b;
    line-height: 27px;
    text-align: left;
}

.project-meta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 40px;
}

.meta-item {
    background-color: #F2C1AE;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.04);
}

.meta-item p {
    margin-top: 5px;
}

#project-gallery {
    max-width: 1100px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.gallery-item {
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.4s ease;
}

.gallery-item img:hover {
    transform: scale(1.03);
}

#process-section,
#impact-section {
    max-width: 900px;
    margin: 0 auto;
}

@media (max-width: 768px) {

    .project-title h1 {
        font-size: 35px;
    }

    #project-content h2,
    #process-section h2,
    #impact-section h2 {
        font-size: 26px;
    }

    #project-content p,
    #process-section p,
    #impact-section p {
        font-size: 14px;
        line-height: 24px;
    }

    .project-meta {
        grid-template-columns: 1fr;
        gap: 25px;
    }

}

@media (max-width: 768px) {

    #project-content,
    #process-section,
    #impact-section,
    #project-gallery {
        padding-left: 20px;
        padding-right: 20px;
    }

    .project-title h1 {
        font-size: 35px;
    }

    #project-content h2,
    #process-section h2,
    #impact-section h2 {
        font-size: 26px;
    }

    #project-content p,
    #process-section p,
    #impact-section p {
        font-size: 14px;
        line-height: 24px;
    }

    .project-meta {
        grid-template-columns: 1fr;
        gap: 25px;
    }
}